<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91F6469A1EA1E699008DF508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F646AE1EA1E69A008DF508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F646B91EA1E69A008DF508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
